<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:include="fragments/head::head"></div>
</head>
<body>

<div th:include="fragments/navbar::navbar"></div>
<div class="container">

    <div class="card mb-3">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/ev3II-4S9U13ubr6K1eEBL-uk09l5VxM0Bxr7fg5qaYk0o-5zf2_NHu62Mjs4atnNIAGAV7rpkn5psjv2kccUX_mgSeKhmJrWFw6qlHHsVRXCKMefo70vfNwZo1tObn1RyZzkVQ3Ka7y9lvb87yioVs" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">About me</h5>
            <p class="card-text">So you want to find out a little bit more about me, huh?  Who is this man and should I trust his recipes? Can he cook? Okay then! Let’s get started. I’m Alin, living here in good old sunshine state Florida. I’m 40-year-old food lover who likes cats, historical romances, costume and period dramas, miniature things, movie series and sleeping to the sound of rain. <br><br>

                I started this blog in April, 2013 as a creative outlet for me to express my love for all things food, eating and cooking.  I’m the kind of person who will simmer with excitement over something I picked from an online menu before I go and actually eat it at a restaurant. I’ll taste it in my head, drool alone while doing some imaginary tasting and then unleash my inner ravenous monster when I actually get there. It’s fun.<br><br>

                Too many times I’ve come across stuff in cookbooks with ingredients I don’t even recognize and have no idea where to even begin looking for. So I’ve decided to post recipes with real ingredients. Everyday ingredients. Things most people are familiar with. With the exception of my first year stuff where I posted recipes I was used to (mostly authentic Asian recipes), you’ll find a lot of easy and approachable recipes here.<br><br>

                So I try to feature everyday real food at home with everyday ingredients you can find at grocery stores. Realistic stuff. Stuff you can pronounce and recognize. Nothing too fancy, a balance between from scratch cooking and easy stuff. And the blog is catered specifically to the mighty home cooks of the world. Those who are tired of eating out everyday, those who want to learn how to cook or those that already have a family to feed and want to try out new things. I hear you! There’s a wide range of things you can find here from healthy food to indulgent food. I don’t have much of a sweet tooth if at all though, so you won’t see a lot of sweet stuff here. Pick whatever you like and whatever fits your lifestyle. My food is a balance between healthy food, normal food and food that tastes-so-good-but-is-oh-so-bad for you.<br><br>

                I’m no chef, unless being a home chef counts. I have no formal training, just lots and lots of trial and errors while I make mistakes and learn as I go along in the kitchen. I try to admit to these mistakes on the blog and to be as honest as I can, even if it’s unhealthy for my ego but hey, no one’s perfect. And hopefully other home cooks will learn from them. So you’ll see a lot of technique discussed in my posts for each recipe and stuff to watch out for.<br><br>

                So that’s the short version. If you want more, read on! Otherwise, happy cooking!</p>
            <p class="card-text"><small class="text-muted">Posted by A. Macau</small></p>
        </div>
    </div>
<!--    -->
<!--    <div class="row">-->
<!--        <img src="https://st.hzcdn.com/fimgs/685141fc0cc9fd7a_1506-w312-h312-b0-p0&#45;&#45;industrial-kitchen.jpg" class="img-fluid" alt="Responsive image">-->

<!--    </div>-->

<!--    <div class="row">-->
<!--        ceva-->
<!--    </div>-->
</div>
</body>
</html>